# {{ ansible_managed }}

[user]
  name = {{ git_username }}
  email = {{ git_email }}

[color]
  ui = true

[core]
  editor = {{ git_coreeditor|default('vi') }}

[push]
  default = {{ git_push|default('matching') }}

[alias]
	ci = commit
	di = diff --color-words
	st = status
	up = checkout

	# aliases that match the hg in / out commands
	out = !git fetch && git log FETCH_HEAD..
	outgoing = !git fetch && git log FETCH_HEAD..
	in = !git fetch && git log ..FETCH_HEAD
	incoming = !git fetch && git log ..FETCH_HEAD

	qf = !git commit -am"Fix" && git rebase -i HEAD~2

[core]
	excludesfile = ~{{ username }}/.gitignore