{
	"installed_packages":
	[
		"DocBlockr",
		"EditorConfig",
		"GitGutter",
		"Handlebars",
		"JavaScript Snippets",
		"LESS",
		"SublimeLinter",
		"SublimeLinter-jshint",
		"SublimeCodeIntel",
		"Pretty JSON",
		"Vintageous"
	]
}
