{
	"installed_packages":
	[
		"DocBlockr",
		"Emmet",
		"Git",
		"GitGutter",
		"GitHub Flavored Markdown Preview",
		"Grunt",
		"Handlebars",
		"JavaScript Snippets",
		"JSHint Gutter",
		"LESS",
		"Pretty JSON",
		"Search in Project",
		"Theme - Numix",
		"Vintageous"
	]
}
