{
	"installed_packages":
	[
		"BufferScroll",
		"DevDocs",
		"DocBlockr",
		"EditorConfig",
		"Gist",
		"Git",
		"GitGutter",
		"Handlebars",
		"Javascript Beautify",
		"JavaScript Snippets",
		"JavaScriptNext - ES6 Syntax",
		"JsFormat",
		"LESS",
		"MarkdownEditing",
		"Neon Color Scheme",
		"Package Control",
		"Pretty JSON",
		"Schemr",
		"Seti_UI",
		"SublimeLinter",
		"SublimeLinter-jshint",
		"Theme - Flatland",
		"Themr",
		"Vintageous"
	]
}
