{
	"color_scheme": "Packages/Color Scheme - Default/Monokai.tmTheme",
	"enable_telemetry": false,
	"font_face": "SourceCodePro-Regular",
	"font_size": 16,
	"highlight_line": true,
	"ignored_packages":
	[
		"Vintage"
	],
	"numix_xsmall_tabs": true,
	"show_encoding": true,
	"show_full_path": true,
	"theme": "Numix.sublime-theme"
}
